.header {
  background-color: #111;
  color: #fff;
  height: 80px;
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__row {
  gap: 20px;
}
.logo-link {
  display: block;
  height: 30px;
}
.logo {
  height: 100%;
  width: auto;
  fill: #fff;
}
.header__col_search {
  flex: 1;
}
